@{
    ViewBag.Title = "__Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        function SetSort(fld) {            
            var fldName = document.getElementById("SortByName");
            var fldOper = document.getElementById("SortByOperation");
            var passingValue;
            if (fld.attributes["filterkey"] != null)
                var passingValue = fld.attributes["filterkey"].value;
            else
                passingValue=fld.innerText.trim()
            if (fldName.value.trim() == passingValue) {
                if (fldOper.value.trim() == "Asc")
                    fldOper.value = "Desc";
                else
                    fldOper.value = "Asc";
            }
            else {
                fldOper.value = "Asc";
            }
            fldName.value = passingValue;
            document.forms[0].submit();
        }
    </script>
}

<p>
    @if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity)ViewBag.Security).Add > 0)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@using (Html.BeginForm("", this.Context.Request.Path.Split(new char[] {'/'})[1]))
{
    @Html.AntiForgeryToken()    
    @RenderBody()
}
